In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('velocidades.csv')
df.head()

     Street Name         dia  hora  Current Speed (km/h)
0  Alfonso Reyes  2024-09-12    18             11.457692
1  Alfonso Reyes  2024-09-12    19             10.605239
2  Alfonso Reyes  2024-09-12    20             13.522727
3  Alfonso Reyes  2024-09-12    21             14.853168
4  Alfonso Reyes  2024-09-12    22             15.352941

In [12]:
df.shape

(8070, 4)

In [15]:
max(df["Current Speed (km/h)"])

47.5171952162625