In [110]:
import pandas as pd
import os

In [111]:
def load_data(file):
    data = pd.read_csv(f"velocidades/{file}")
    return data

In [112]:
datasets = []
for file in os.listdir("velocidades"):
    datasets.append(load_data(file))

In [113]:
data = pd.concat(datasets)

In [114]:
data["Timestamp"] = pd.to_datetime(data["Timestamp"])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21552 entries, 0 to 623
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Street Name                      21552 non-null  object
 1   Latitud                          21552 non-null  object
 2   Longitud                         21552 non-null  float64
 3   Timestamp                        21552 non-null  datetime64[ns]
 4   Current Travel Time (seconds)    21552 non-null  object
 5   Free Flow Travel Time (seconds)  21552 non-null  object
 6   Distance (meters)                21552 non-null  object
 7   Current Speed (km/h)             21552 non-null  object
 8   Free Flow Speed (km/h)           21552 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 1.6+ MB

In [115]:
# ver fechas unicas
data["dia"] = data["Timestamp"].dt.date

In [116]:
data.head()

,Street Name,Latitud,Longitud,Timestamp,Current Travel Time (seconds),Free Flow Travel Time (seconds),Distance (meters),Current Speed (km/h),Free Flow Speed (km/h),dia
0,Av. Insurgentes,19.4037031532808,-99.169270,2024-09-12 18:12:24.830314,555,442,2252,14.607567567567568,18.342081447963803,2024-09-12
1,Av. Nuevo León,19.4035424706988,-99.171153,2024-09-12 18:12:26.053839,207,192,1103,19.182608695652174,20.68125,2024-09-12
2,Av. Chapultepec,19.4203408773342,-99.176722,2024-09-12 18:12:27.426248,898,623,3164,12.684187082405346,18.283146067415732,2024-09-12
3,Cto. Bicentenario,19.4080683386285,-99.184172,2024-09-12 18:12:28.645294,1243,632,5652,16.369428801287206,32.19493670886076,2024-09-12
4,Av. Tamaulipas,19.4070344162834,-99.178508,2024-09-12 18:12:29.850573,303,286,1575,18.712871287128714,19.825174825174827,2024-09-12

In [117]:
data["hora"] = data["Timestamp"].dt.hour

In [118]:
# Quitar datos que sean 'desconocidos' en todo el df
data = data[data != 'Desconocido']

In [119]:
data["Current Speed (km/h)"] = data["Current Speed (km/h)"].astype(float)

In [120]:
data["dia"] = data["dia"].astype(str)

In [121]:
# solo dejar las columnas Street Name, Current Speed (km/h), dia y hora
data = data[["Street Name", "Current Speed (km/h)", "dia", "hora"]]

In [122]:
data = data.groupby(["Street Name", "dia", "hora"]).mean()

In [123]:
data

                               Current Speed (km/h)
Street Name   dia        hora
Alfonso Reyes 2024-09-12 18               11.457692
                         19               10.605239
                         20               13.522727
                         21               14.853168
                         22               15.352941
...                                             ...
Salamanca     2024-10-02 6                42.800000
                         7                40.997283
                         8                36.689042
                         9                34.705519
                         10               35.715659

[8070 rows x 1 columns]

In [124]:
# guardar en un csv
data.to_csv("velocidades.csv")